In [1]:
# import dependencies# impor 
import pandas as pd

In [4]:
# Save file path to variable
csv_measurements = "Resources/clean_hawaii_measurements.csv"
# Read with Pandas
df_measurements = pd.read_csv(csv_measurements)
df_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [5]:
# Save file path to variable
csv_stations = "Resources/clean_hawaii_stations.csv"
# Read with Pandas
df_stations = pd.read_csv(csv_stations)
df_stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [6]:
from sqlalchemy import create_engine, Column, Integer, String, Float, Numeric
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [7]:
# Define measurements table
class measurements(Base):
    __tablename__ = 'measurements'
    id = Column(Integer,primary_key = True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

# Define stations table
class stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer,primary_key =True)
    station = Column(String)
    name = Column(String)
    latitude = Column(String)
    longitude = Column(String)
    elevation = Column(String)

In [8]:
Base.metadata.tables

immutabledict({'measurements': Table('measurements', MetaData(bind=None), Column('id', Integer(), table=<measurements>, primary_key=True, nullable=False), Column('station', String(), table=<measurements>), Column('date', String(), table=<measurements>), Column('prcp', Float(), table=<measurements>), Column('tobs', Integer(), table=<measurements>), schema=None), 'stations': Table('stations', MetaData(bind=None), Column('id', Integer(), table=<stations>, primary_key=True, nullable=False), Column('station', String(), table=<stations>), Column('name', String(), table=<stations>), Column('latitude', String(), table=<stations>), Column('longitude', String(), table=<stations>), Column('elevation', String(), table=<stations>), schema=None)})

In [9]:
#Create database engine
engine = create_engine('sqlite:///hawaii.sqlite')
#create tables in Database
Base.metadata.create_all(engine)
conn = engine.connect()

In [10]:
df_measurements.to_sql("measurements", conn, index=False,if_exists='append')
df_stations.to_sql("stations", conn, index=False,if_exists='append')

In [11]:
engine.table_names()

['measurements', 'stations']

In [12]:
engine.execute('select * from measurements limit 20').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-06', 0.0, 73),
 (6, 'USC00519397', '2010-01-07', 0.06, 70),
 (7, 'USC00519397', '2010-01-08', 0.0, 64),
 (8, 'USC00519397', '2010-01-09', 0.0, 68),
 (9, 'USC00519397', '2010-01-10', 0.0, 73),
 (10, 'USC00519397', '2010-01-11', 0.01, 64),
 (11, 'USC00519397', '2010-01-12', 0.0, 61),
 (12, 'USC00519397', '2010-01-14', 0.0, 66),
 (13, 'USC00519397', '2010-01-15', 0.0, 65),
 (14, 'USC00519397', '2010-01-16', 0.0, 68),
 (15, 'USC00519397', '2010-01-17', 0.0, 64),
 (16, 'USC00519397', '2010-01-18', 0.0, 72),
 (17, 'USC00519397', '2010-01-19', 0.0, 66),
 (18, 'USC00519397', '2010-01-20', 0.0, 66),
 (19, 'USC00519397', '2010-01-21', 0.0, 69),
 (20, 'USC00519397', '2010-01-22', 0.0, 67)]

In [13]:
engine.execute('select * from stations').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', '21.2716', '-157.8168', '3.0'),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', '21.4234', '-157.8015', '14.6'),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', '21.5213', '-157.8374', '7.0'),
 (4, 'USC00517948', 'PEARL CITY, HI US', '21.3934', '-157.9751', '11.9'),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', '21.4992', '-158.0111', '306.6'),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', '21.33556', '-157.71139', '19.5'),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', '21.45167', '-157.84889', '32.9'),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', '21.3152', '-157.9992', '0.9'),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', '21.3331', '-157.8025', '152.4'),
 (10, 'USC00519397', 'WAIKIKI 717.2, HI US', '21.2716', '-157.8168', '3.0'),
 (11, 'USC00513117', 'KANEOHE 838.1, HI US', '21.4234', '-157.8015', '14.6'),
 (12, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', '21.5213', '-157.8374', '7.0'),
 (13, 'USC00517948', 'PEARL CITY, HI US', '21.3934', '-157.9751', '11.9'),
 (14, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', '21.4992', '-158.0111', '306.6'),
 (15, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', '21.33556', '-157.71139', '19.5'),
 (16, 'USC00519281', 'WAIHEE 837.5, HI US', '21.45167', '-157.84889', '32.9'),
 (17, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', '21.3152', '-157.9992', '0.9'),
 (18, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', '21.3331', '-157.8025', '152.4'),
 (19, 'USC00519397', 'WAIKIKI 717.2, HI US', '21.2716', '-157.8168', '3.0'),
 (20, 'USC00513117', 'KANEOHE 838.1, HI US', '21.4234', '-157.8015', '14.6'),
 (21, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', '21.5213', '-157.8374', '7.0'),
 (22, 'USC00517948', 'PEARL CITY, HI US', '21.3934', '-157.9751', '11.9'),
 (23, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', '21.4992', '-158.0111', '306.6'),
 (24, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', '21.33556', '-157.71139', '19.5'),
 (25, 'USC00519281', 'WAIHEE 837.5, HI US', '21.45167', '-157.84889', '32.9'),
 (26, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', '21.3152', '-157.9992', '0.9'),
 (27, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', '21.3331', '-157.8025', '152.4')]